<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>About | Tech Student UK</title>
        <link rel="shortcut icon" type="image/jpg" href="{% static 'content/images/favicon.jpg' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'content/style.css' %}">
    </head>

    <body>
        {% include 'content/navbar.html' %}
        <div id="content">
            <h1>About</h1>
            <div id="textbox">
                <p>Hello this is sample text</p>
            </div>
        </div>
        {% include 'content/footer.html' %}
    </body>
</html>
