<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="shortcut icon" type="image/jpg" href="{% static 'content/images/favicon.jpg' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'content/style.css' %}">
    </head>

    <body>
        {% include 'content/navbar.html' %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'content/footer.html' %}
    </body>

</html>
