<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Log In</title>{% endblock %}
        <link rel="shortcut icon" type="image/jpg" href="{% static 'content/images/favicon.jpg' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'exambase/style.css' %}">
    </head>

    <body>
        {% include 'exambase/navbar.html' %}
        <div id="content">
            <div id="submission">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include 'content/footer.html' %}

    </body>

</html>
