<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Exam | Topic Browser {% endblock %}</title>
        <link rel="shortcut icon" type="image/jpg" href="{% static 'content/images/favicon.jpg' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'exambase/style.css' %}">
    </head>

    <body>
        {% include 'exambase/navbar.html' %}
        <div id="content" style="padding-top: 13%; padding-bottom: 15%">
        {% block content %}
        {% endblock %}
        </div>
        {% include 'content/footer.html' %}
    </body>
</html>
