{% extends 'exambase/base_submission.html' %}

{% block title %}Admin | Create Question{% endblock %}

{% block content %}
    {% if user.id == 1 %}
        <h2>Create Question</h2>
        <form method="POST"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create and Save" />
        </form>
        <p>Make sure the Image has been saved in the assets folder with the format
        EXAM_20XX_POSITION.jpg</p>
        {% if success is not None %}
            {% if success %}
                <p>Question has been submitted to database successfully</p>
            {% else %}
                <p>Question already exists in database</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>You are not authorised to access this page</p>
    {% endif %}
{% endblock %}
