<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Home | Exambase</title>
        <link rel="shortcut icon" type="image/jpg" href="{% static 'content/images/favicon.jpg' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'content/style.css' %}">
    </head>

    <body>
        {% include 'exambase/navbar.html' %}
        <div id="content">
            <h1>ExamBase Home</h1>
            <div id="textbox">
                <p>Sample Text</p>
            </div>
        </div>
        {% include 'content/footer.html' %}
    </body>

</html>
