{% load static %}

<nav class="navbar">
    {% if user.is_authenticated %}
        <li><a href="{% url 'exambase:dashboard' %}">
            <img id="logo" src="{% static 'exambase/images/logo.png' %}" alt="ExamBase">
        </a></li>
    {% else %}
        <li><a href="{% url 'exambase:home' %}">
            <img id="logo" src="{% static 'exambase/images/logo.png' %}" alt="Exambase">
        </a></li>
    {% endif %}
    <ul>
        <li class="selectable"><a href="{% url 'content:home' %}">Back to Tech Student UK</a></li>
        {% if user.is_authenticated %}
            <li class="selectable"><a href="{% url 'exambase:exams' %}">Browse Questions</a></li>
        {% endif %}
        <li class="selectable">
            {% if user.is_authenticated %}
                <a href="{% url 'exambase:account' %}">
                    <img id="profile-photo" src="{% static 'exambase/images/profile.png' %}" alt="Profile">
                    <p>Hi, {{ user.get_username }}</p>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img id="profile-photo" src="{% static 'exambase/images/profile.png' %}" alt="Profile">
                    <p>Sign In</p>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>
